##############################################
# Oregon Core Auth Server configuration file #
##############################################

[authserver]
ConfVersion=2015070961

# Note to devs, line breaks should be at column 80
###############################################################################
# REALMD SETTINGS
#
#    LoginDatabaseInfo
#        realm服务器的数据库连接设置.
#        Default:
#                    hostname;port;username;password;database
#                    .;somenumber;username;password;database
#                     - use named pipes in Windows
#                    Named pipes: mySQL required adding
#                        "enable-named-pipe" to [mysqld] section my.ini
#                    .;/path/to/unix_socket;username;password;database
#                     - use Unix sockets in Unix/Linux
#
#    LogsDir
#        日志目录设置。
#        重要提示:Logs dir必须存在，否则需要禁用所有日志
#        Default: "" - no log directory prefix, if used log names isn't
#         然后日志将存储在当前目录中.
#
#    MaxPingTime
#         最大数据库ping间隔(ping之间的分钟)的设置
#
#    RealmServerPort
#         Default RealmServerPort
#
#    BindIP
#         将 Realm Server 绑定到 IP/hostname
#
#    PidFile
#        Realmd守护进程PID文件
#        Default: ""             - 不创建PID文件
#                 "./realmd.pid" - 创建PID文件(推荐名称)
#
#    LogMask
##       服务器控制台/文件级别的日志记录
#        This is a bitmask. Possible values:
#        STRING = 1, BASIC = 2, DETAIL = 4, DEBUG = 8,
#        ERROR = 16, ERROR_DB = 32, SQL = 64, ARENA = 128,
#        WARDEN = 256, CHAT = 512, COMMAND = 1024,
#        CHAR = 2048, REMOTE = 4096, MAP = 8192, VMAP = 16384
#        MMAP = 32768, NETWORK = 65536
#        Example: 我想看看基本的输出和错误:
#                 STRING + BASIC + ERROR + ERROR_DB =
#                 1      + 2     + 16    + 32       = 51 
#        Default: 51
#
#    LogFile
#        日志文件名，这里将删除所有没有特定日志的消息
#        Default: "realmd.log"
#                 "" -空名称禁用创建日志文件
#
#    LogTimestamp
#        名称中带有服务器启动时间戳的日志文件
#         in form Logname_YYYY-MM-DD_HH-MM-SS.Ext for Logname.Ext
#        Default: 0 - 名称中没有时间戳
#                 1 - 在名称中添加时间戳
#
#    LogColors
#        消息颜色(格式为“常规基本细节调试”)
#        Default: "0 6 4 3 1 1 2 7 5 0 4 0 1 3 2 4 0" - 默认颜色方案
#        Colors: 0  - 黑色 (没有颜色,跳过)
#                1  - 红色
#                2  - 绿色
#                3  - 棕色
#                4  - 蓝色
#                5  - 洋红色
#                6  - 蓝绿色
#                7  - 灰色
#                8  - 黄色
#                9  - LRED
#                10 - LGREEN
#                11 - 蓝色
#                12 - LMAGENTA
#                13 - LCYAN
#                14 - 白色
#        Example: "0 6 4 3 1 1 2 7 5 0 4 0 1 3 2 4 0"
#
#    DBLogMask
#        DB日志记录的日志级别。
#        这是位掩码，有关详细信息，请参阅上面的LogMask
#        Default: 0 - 禁用
#
#    UseProcessors
#       多处理器系统的处理器掩码(仅用于Windows)
#        Default: 0 (选择操作系统)
#                 number (选定处理器的位掩码值)
#
#    ProcessPriority
#        进程proirity设置(仅用于Windows)
#        Default: 1 (高)
#                 0 (正常)
#
#    RealmsStateUpdateDelay
#        Realm list更新延迟
#         (如果延迟过期，将按realm列表请求更新).
#        Default: 20
#                 0  (禁用)
#
#    WrongPass.MaxCount-重复次数
#        在帐户或IP被禁止之前
#        密码错误的登录尝试次数
#        Default: 0  (不禁止)
#
#    WrongPass.BanTime-禁用时长
#       禁令持续时间(以秒为单位)(0表示永久禁令)
#        Default: 600
#
#    WrongPass.BanType-禁用类型
#       禁止尝试登录的IP或帐户
#        Default: 0 (禁止IP)
#                 1 (禁封账号)
#
###############################################################################

LoginDatabaseInfo = "127.0.0.1;3310;root;A111111a;realmd"
LogsDir = "/home/server/log"
MaxPingTime = 30
RealmServerPort = 3724
BindIP = "0.0.0.0"
PidFile = "./realmd.pid"
LogMask = 51
LogFile = "realmd.log"
LogTimestamp = 0
LogColors = "13 7 11 9 0"
EnableLogDB = 0
DBLogMask = 0
UseProcessors = 0
ProcessPriority = 1
RealmsStateUpdateDelay = 20
WrongPass.MaxCount = 10
WrongPass.BanTime = 600
WrongPass.BanType = 1
